{% extends "website/base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}



</head>



    <main>
        <!-- Define main content section -->
        
  <!-- Start Page Title Area -->
  <div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
    <div class="container">
        <div class="page-title-content">
            <ul style="margin-left:320px;">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
            <h2>About Us</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content left-content">
                        <span class="sub-title" style="color: #FF9B00;font-weight:bold;">About Us</span>
                       <h2 style=" color: #100562;
            font-weight:bold;"><span style="color: #FF9B00;font-weight:bold;">Master</span> New Skills and Forge Ahead into Success</h2>
                    <h6>We can support student forum 24/7 for Empowering Minds, Supporting students.</h6>
                    <p>At Sipher Web : our client-centric focus drives every decision we make. Through collaborative partnerships, we tailor solutions to meet your unique needs and exceed expectations. Our commitment to excellence ensures that every project is executed with precision and quality. With a dynamic approach to training and development, we empower individuals and organizations to thrive in the ever-changing IT landscape. Together, let's unlock new possibilities and drive innovation for lasting success.</p>

                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>A place where you can achieve</h5>
                        <p>Education encompasses both the teaching and learning of knowledge, proper conduct, and technical competency.</p>
                    </div>


                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-right-image">
                    <img src="{% static 'assets/img/About Us.png' %}" alt="image">
                    <img src="{% static 'assets/img/Ab.png' %}" alt="image">

                    <div class="text-box">
                        <div class="inner">
                            Trusted By
                            <span>2K+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3> courses</h3>
                        <p>Elevate Your Skills, Ignite Your Passion: Where Learning Transforms into Success</p>

                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Empower Your Journey, Master Success</li>
                            <li><i class='bx bx-check'></i>Unleash Knowledge, Transform Futures.</li>
                            <li><i class='bx bx-check'></i> Ignite Your Learning Journey Today!</li>
                            <li><i class='bx bx-check'></i> Dive into Learning, Rise to Greatness!</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Expert instruction</h3>
                        <p>Guiding Your Journey to Excellence with Expert Instruction.</p>

                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Expert Insight, Elevating Your Skills.</li>
                            <li><i class='bx bx-check'></i> Refining Skills, Empowering Growth: Expert Insight for Success.</li>
                            <li><i class='bx bx-check'></i> Good thinking</li>
                            <li><i class='bx bx-check'></i> Excellence Defined by Expert Instruction</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="about-text">
                        <h3>Lifetime access</h3>
                        <p>Real innovations and a positive customer experience are the heart of successful communication.</p>

                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Certified Company.</li>
                            <li><i class='bx bx-check'></i> 24*7 Virtual Assitance</li>
                            <li><i class='bx bx-check'></i>Live Project</li>
                            <li><i class='bx bx-check'></i> Job Assistant(India &Abroad)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-4"></div>
</section>



 <!-- Start FAQ Area -->
 <section class="faq-area bg-f8e8e9 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-video">
                    <img src="{% static 'assets/img/business-coaching/faq.jpg' %}" alt="image">

                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class='bx bx-play'></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion faq-accordion-style-two">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class='bx bx-chevron-down'></i>
                                What Sipher Web Provide doing working?
                            </a>

                            <div class="accordion-content show">
                                <p>Joining Sipher Web could provide several benefits, such as gaining valuable technical and communication skills, enhancing career prospects, networking opportunities with professionals in various industries, and access to resources and support to further personal and professional development.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-chevron-down'></i>
                                What are the benefits of joining Sipher Web
                            </a>

                            <div class="accordion-content">
                                <p>Training and internships provide practical skills, networking, and career advancement, bridging the gap between academic learning and real-world experience.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-chevron-down'></i>
                                What are the benfits of doing training and Intership?
                            </a>

                            <div class="accordion-content">
                                <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-chevron-down'></i>
                                What is distance education?
                            </a>

                            <div class="accordion-content">
                                <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Area -->

 <!-- Start Team Area -->
 {% comment %} <section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
           
            <h2 style=" color: #100562;
            font-weight:bold;"><span style="color: #FF9B00;font-weight:bold;" >Our</span> Team.</h2>
         
        </div>

        <div class="team-slides owl-carousel owl-theme">
                                <div class="single-instructor-box mb-30">
                        <div class="image">
                            <img src="https://sipherweb.com/storage/Image/irfan sir.jpeg" alt="image">


                        </div>

                        <div class="content">
                            <h3><a href="About">Dr. Irfan Khan</a></h3>
                            <span>CEO</span>
                        </div>
                    </div>
                                    <div class="single-instructor-box mb-30">
                        <div class="image">
                            <img src="https://sipherweb.com/storage/Image/sadiya&#32;ma'am.jpeg" alt="image">


                        </div>

                        <div class="content">
                            <h3><a href="About">Er. Sadiya Anjum</a></h3>
                            <span>Manager Director</span>
                        </div>
                    </div>
                                    <div class="single-instructor-box mb-30">
                        <div class="image">
                            <img src="https://sipherweb.com/storage/Image/sayeed.jpeg" alt="image">


                        </div>

                        <div class="content">
                            <h3><a href="About">Mr. Sayeed Ahmed Khan</a></h3>
                            <span>Senior Digital Marketing Expert</span>
                        </div>
                    </div>
                                    <div class="single-instructor-box mb-30">
                        <div class="image">
                            <img src="https://sipherweb.com/storage/Image/danish.jpeg" alt="image">


                        </div>

                        <div class="content">
                            <h3><a href="About">Mr. Sheikh Danish Iqbal</a></h3>
                            <span>Marketing executive</span>
                        </div>
                    </div>
                

        </div>
    </div>

    <div id="particles-js-circle-bubble-3"></div>
</section> {% endcomment %}
<!-- End Team Area -->



    </main>
{% endblock content %}
