{% extends "website/base.html" %}
{% load static %}
{% block title %}Carrer{% endblock %}
{% block content %}


   
<style>
    #scrollToTopBtn {
            display: none; /* Initially hide the button */
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #100562;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s;
        }

        #scrollToTopBtn:hover {
            background-color: #FF9B00;
        }

</style>




    <main>
        <!-- Define main content section -->
        <div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
    <div class="container">
        <div class="page-title-content" style="transform:translateY(-23px);">
            <ul style="text-align: center; margin-left:80px;">
                <li><a href="index.html">Home</a></li>
                <li style=" transform:translateX(-90px)"><a href="https://sipherweb.com/courses-2-columns-style-1.html">Carrer</a></li>

            </ul>
        </div>
    </div>
</div>
<section style="background-image: url('assets/img/pattern.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="students-feedback-form-content">
                    <h3 style="color:black; font-size:30px; font-weight:bold;"> Leading Towards the
Commitment To Excellence.</h3>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="students-feedback-form" style="margin-top: 20px; margin-bottom:30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius:10px; background-color:white;">
                    <h3>Get In Touch</h3>

                    {% comment %} <form action="https://sipherweb.com/Insertcarrer" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_token" value="6yXCOc1Qtg7FOI2uWp6Nqq3i20wt0u7iR8BGmLvE" autocomplete="off">                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your name*" name="name" id="name">
                                    <span class="label-title"><i class='bx bx-user'></i></span>
                                                                    </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Your Phone Number*" name="phone" id="address">
                                    <span class="label-title"><i class='bx bx-phone'></i></span>
                                                                    </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your email*" name="email">
                                    <span class="label-title"><i class='bx bx-envelope'></i></span>
                                                                    </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="file" class="form-control" placeholder="Your pic upload*" name="Img">
                                       <label for="Img">Your Resume Upload</label>
                                    <span class="label-title"><i class='bx bx-file'></i></span>
                                                                    </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea cols="30" rows="5" id="text" name="text" class="form-control" placeholder="Write something here (Optional)"></textarea>
                                    <span class="label-title"><i class='bx bx-edit'></i></span>
                                                                    </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn"><i
                                        class='bx bx-paper-plane icon-arrow before'></i><span class="label">Send
                                        Message</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
                            </div>
                        </div>
                    </form> {% endcomment %}

                     <form action="https://sipherweb.com/Insertfeedback" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="6yXCOc1Qtg7FOI2uWp6Nqq3i20wt0u7iR8BGmLvE" autocomplete="off">                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name*" name="name" id="name">
                                        <span class="label-title"><i class='bx bx-user'></i></span>
                                                                            </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your address*" name="address" id="address">
                                        <span class="label-title"><i class='bx bx-home'></i></span>
                                                                            </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your email*" name="email">
                                        <span class="label-title"><i class='bx bx-envelope'></i></span>
                                                                            </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <style>
                                        /* .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    } */

    .hover-text {
      margin-top: 8px;
      font-size: 14px;
      color: gray;
      display: none; /* hidden by default */
    }

    /* Show text on hover */
    .upload-btn-wrapper:hover .hover-text {
      display: block;
    }
            
    
     .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        max-width: max-content;
        background: linear-gradient(90deg,
                rgb(118, 167, 63) 0%,
                rgb(51, 143, 118) 40%,
                rgb(55, 141, 167) 50%,
                rgb(117, 152, 242) 70%,
                rgb(144, 118, 236) 100%);
        background-size: 200%;
        background-position: left;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        border: 0;
        margin-left: 100px;
        padding: 12px 16px;
        border-radius: 5px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
            inset 0px 2px 2px rgba(255, 255, 255, 0.2);
        cursor: pointer;
        transition: all 0.3s ease-in;
    }

    .btn:hover {
        background-position: right;
    }

                                        </style>
                                    
                                    <div class="form-group  upload-btn-wrapper" >
                                         
                                         <input type="text" class="form-control" placeholder="Your pic upload*" name="Img" style="display:none; ">
                                        <input type="file" class="form-control" placeholder="Your pic upload*" name="Img" title="Upload your photo">
                                         
                                             <div class="hover-text"></div>
                                        <span class="label-title"><i class='bx bx-file'></i></span>
                                                                            </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea cols="25" rows="4" id="text" name="text" class="form-control" placeholder="Write something here (Optional)"></textarea>
                                        <span class="label-title"><i class='bx bx-edit'></i></span>
                                                                            </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                               
                                            <button class="btn btn-danger mx-auto"  style="text-align: center; font-weight: 200; " ><span><b>Send Message</b></span><i class="bx bx-paper-plane icon-arrow after"></i></button>

                                            
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>






    </main>




{% endblock content %}