{% extends "website/base.html" %}
{% load static %}

{% block title %}CEME{% endblock %}

{% block content %}

</head>



    <main>
        <!-- Define main content section -->
                <!-- Start Page Title Area -->
        <div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
            <div class="container">
                <div class="page-title-content">
                    <ul style="margin-left:320px;">
                        <li><a href="https://sipherweb.com/index.html">Home</a></li>
                        <li><a href="https://sipherweb.com/courses-2-columns-style-1.html">Traning</a></li>
                        <li>Summer
                            Training
                            (CE/ME) Program In Lucknow</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <section class="courses-details-area pt-100 pb-70">
            <div class="container">
                <div class="courses-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="courses-title">
                                <h2 style="color: #100562; font-weight:bold;"><span style="color: #FF9B00; font-weight:bold;">Summer  Training</span>  (CE/ME) Program In Lucknow</h2>
                                <p>Summer Training Program is specially designed for Btech (CE/ME), BCA, MCA,
                                    M.tech Engineering Students, who wants to explore the IT Industry and want
                                    to start their career as Software Developer, Website or Mobile Application
                                    Developer. This is a short time period training for 45-50 Days held in
                                    summers June-August.</p>


                                    <p>We at Supher Web offers various training and development
                                        platforms to learn and explore the technology, All training programs at
                                       Supher Web  contains latest technology version as well as latest frameworks
                                        will all components. We have Industry Expert Trainers and Developers to Give
                                        Students Live Projects Based Exposer.</p>
                            </div>


                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">

                        <div class="courses-details-desc">
                            <h3  style="color: #100562; font-weight:bold;"><span  style="color: #FF9B00; font-weight:bold;">Course</span> Description</h3>

                            <p>This training is important as it ensures that equal amount of time is given
                                in learning the theoretical concepts and matching it with the industry
                                requirements in terms of practical skills. It fosters an individual to face
                                the challenges of the corporate world. Vocational Training imparts necessary
                                skills to its participants which are needed to survive in this competitive
                                industry. It also makes ensure that students gain skill and competencies
                                which are required to survive in the industry. Students also get chance to
                                work on the live project depending upon the technology they select.</p>





                            <h3 style="color: #FF9B00; font-weight:bold;">Certification</h3>

                            <ul class="requirements-list">
                                <li>After successfully complete training we have provide the certificate to
                                    students.</li>

                            </ul>

                            <h3 style="color: #100562; font-weight:bold;"><span style="color: #FF9B00; font-weight:bold;">Learning</span> Outcomes</h3>

                            <ul class="audience-list">
                                <li>Over 45 lectures of training content!</li>
                                <li>LIVE PROJECT End to End Software Testing Training Included.</li>
                                <li>Learn Software Testing and Automation basics from a professional trainer
                                    from your own desk.</li>
                                <li>Information packed practical training starting from basics to advanced
                                    testing techniques.</li>

                                    <li>Best suitable for beginners to advanced level users and who learn faster
                                        when demonstrated.</li>

                                        <li>Course content designed by considering current software testing
                                            technology and the job market.</li>
                                            <li>Practical assignments at the end of every session.</li>
                            </ul>



                            <h3 style="color: #100562; font-weight:bold;"><span style="color: #FF9B00; font-weight:bold;">Why</span> Sipher Web</h3>

                            <div class="why-you-learn">
                                <ul>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Certified Company
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Lifetime Membership
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            24*7 Virtual Assistant
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Smart Classroom
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Live Project
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Hands On Practice
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Job Assistant(India &Abroad)
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Personality Development
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Understand the fundamentals
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            Use SQL to create, design
                                        </span>
                                    </li>
                                </ul>
                            </div>


                        </div>



                    </div>

                    <div class="col-lg-4">


                        <div class="courses-sidebar-syllabus">
                            <h3 class="btn-danger radius-xl text-center">Registration Started</h3>
                            <span class="chapter text-center">Enquiry Now</span>


                            <div class="courses-list">
                                <ul>
                                    <li class="text-center">
                                        <i class='bx bx-phone-call '></i>
                                        <a href="CEME#" >9125545607</a>
                                    </li>
                                    <li  class="text-center">
                                        <i class='bx bx-phone-call'></i>
                                        <a href="CEME#">9125525608</a>
                                    </li>

                                </ul>
                            </div>




                        </div>

                        <div class="courses-purchase-info">
                            <h4>Summer Training Program  (CE/ME) In Lucknow</h4>
                            <p>We at Sipher Web offers various training and development programs to learn and explore the technology.</p>

                            <a href="Registration" class="d-inline-block">Registration</a>

                        </div>
                    </div>
                </div>
            </div>


        </section>




    </main>
<button id="scrollToTopBtn">↑</button>
 {% endblock content %}