{% extends "website/base.html" %}
{% load static %}

{% block content %}



    <main>
        <!-- Define main content section -->
         <!-- Start Page Title Area -->
 <div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="course#">Course></li>

            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

    <!-- Start Courses Categories Area -->
    <section class="courses-categories-area bg-F7F9FB pt-100 pb-70">
        <div class="container">
            <div class="section-title text-left">
                <!--<span class="sub-title">Courses Categories</span>-->
                <h2 style="color:#100562; font-weight:bold;"><span style="color:#FF9B00; font-weight:bold;">Our</span> Popular Courses</h2>
   </span></i></a>
      <div class="container mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active " id="nav" href="course#" data-target="general">All Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="course#" id="nav" data-target="history">CS/IT/CA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="course#" id="nav" data-target="vision">EC /EE/ EN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="course#" id="nav" data-target="bylaws">ME/ CE</a>
                </li>
               
            </ul>
            <div class="tab-content mt-3">
                <div id="general" class="tab-pane active"> <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/bot.png" alt="" height="100px" width="100px;">
                            <br>
                            Bootstraps
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/c.svg.png" alt="" height="100px" width="100px;">
                            <br>
                           C Language
                        </a>
                          <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/images.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                            Java
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/php.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                          Php
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/download&#32;(5).png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Html
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/css.svg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Css
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/1.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Javascript
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/images&#32;(2).png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Jquery
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/download&#32;(6).png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Android
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/NET_Core_Logo.svg.png" alt="" style="border-radius:50%;" height="100px" width="100px;" >
                            <br>
                          Asp.Net
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/python-package-index.svg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Python
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/sql.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                          SqlServer
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/mern.jpeg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                         <br>
                         Mern 
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/iot.jpg" alt="" style="border-radius:50%;"   height="100px" width="100px;">
                         <br>
                         IoT
                         
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/emb.webp" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                         <br>
                         Embedded System
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/scad.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                          PLC Scada
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/auto.jpg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                        AutoCAD
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/SolidWorks.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                           <br>
                           SolidWorks
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/mep.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                        <br>
                        MEP

                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/havc.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                             HVAC Design & Drafting
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/plc.jpg" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                           Plumbing Designing & Drafting
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/cat.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                           <br>
                           Catia

                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


            </div>
            </div>
                <div id="history" class="tab-pane"> <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/bot.png" alt="" height="100px" width="100px;">
                            <br>
                            Bootstraps
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/c.svg.png" alt="" height="100px" width="100px;">
                            <br>
                           C Language
                        </a>
                          <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/images.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                            Java
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/php.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                          Php
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/download&#32;(5).png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Html
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/css.svg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Css
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/1.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Javascript
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/images&#32;(2).png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Jquery
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/download&#32;(6).png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Android
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/NET_Core_Logo.svg.png" alt="" style="border-radius:50%;" height="100px" width="100px;" >
                            <br>
                          Asp.Net
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/python-package-index.svg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Python
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/sql.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                          SqlServer
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/mern.jpeg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                         <br>
                         Mern 
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                

            </div>
            </div>
                <div id="vision" class="tab-pane"> 
                
                <div class="row">
                

              
               
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/python-package-index.svg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                            <br>
                            Python
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/ai.avif" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                         Machine Learning
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

               
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/iot.jpg" alt="" style="border-radius:50%;"   height="100px" width="100px;">
                         <br>
                         IoT
                         
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/emb.webp" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                         <br>
                         Embedded System
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/scad.png" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                          PLC Scada
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/auto.jpg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                        AutoCAD
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/SolidWorks.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                           <br>
                           SolidWorks
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/mep.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                        <br>
                        MEP

                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/havc.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                             HVAC Design & Drafting
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/plc.jpg" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                           Plumbing Designing & Drafting
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/cat.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                           <br>
                           Catia

                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


            </div>
            </div>
                <div id="bylaws" class="tab-pane"> 
                <div class="row">
                

           


                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/auto.jpg" alt="" style="border-radius:50%;"  height="100px" width="100px;">
                          <br>
                        AutoCAD
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/SolidWorks.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                           <br>
                           SolidWorks
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/mep.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                        <br>
                        MEP

                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/havc.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                             HVAC Design & Drafting
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/plc.jpg" alt="" style="border-radius:50%;" height="100px" width="100px;">
                            <br>
                           Plumbing Designing & Drafting
                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4">
                    <div class="single-courses-category mb-30">
                        <a href="course#">
                            <img src="assets/img/cat.png" alt="" style="border-radius:50%;" height="100px" width="100px;">
                           <br>
                           Catia

                        </a>
                        <a href="Registration"><button class="btn btn-primary">Get Enroll</button></a>
                    </div>
                </div>


            </div></div>
                <div id="management" class="tab-pane">Content for Management</div>
                <div id="architecture" class="tab-pane">Content for Architecture</div>
                <div id="operations" class="tab-pane">Content for Operations Manual</div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.nav-link').on('click', function(e) {
                    e.preventDefault();
                    if ($(this).data('target')) {
                        $('.nav-link').removeClass('active');
                        $(this).addClass('active');
                        $('.tab-pane').removeClass('active');
                        $('#' + $(this).data('target')).addClass('active');
                    } else {
                        window.location.href = $(this).attr('href');
                    }
                });
            });
            
            $(document).ready(function(){
    $('.nav-link').click(function(){
        $('.nav-link').removeClass('active-tab');
        $(this).addClass('active-tab');
    });
});

        </script>
            </div>
                

           
        </div>

        <div id="particles-js-circle-bubble-2"></div>
    </section>
    <!-- End Courses Categories Area -->
    </main>
<button id="scrollToTopBtn">↑</button>

  {% endblock content %}