{% extends "website/base.html" %}
{% load static %}
{% block title %}Software Development{% endblock %}

{% block content %}


    <main>
        <!-- Define main content section -->
            <!-- Start Page Title Area -->
    <div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a href="https://sipherweb.com/index.html">Home</a></li>
                    <li><a href="https://sipherweb.com/courses-2-columns-style-1.html">Software Developement</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <section class="events-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="events-details-header">

                        <h2  style="color: #100562 font-weight:bold;" ><span style="color: #ffe401; font-weight:bold;">Software</span> Development</h2>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="events-details">
                        <div class="events-details-image">
                            <img src="assets/img/software-development-2.jpg" alt="image">
                        </div>

                        <div class="events-details-desc">
                            <div class="events-details-header">

                                <h2  style="color: #100562 font-weight:bold;"><span style="color: #ffe401; font-weight:bold;">What</span> Can We Do</h2>
                            </div>
                            <p>Software development is the process of conceiving, specifying, designing, programming,
                                documenting, testing, and bug fixing involved in creating and maintaining applications,
                                frameworks, or other software components. Software development is a process of writing and
                                maintaining the source code, but in a broader sense, it includes all that is involved
                                between the conception of the desi#100562 software through to the final manifestation of the
                                software, sometimes in a planned and structu#100562 process. Therefore, software development may
                                include research, new development, prototyping, modification, reuse, re-engineering,
                                maintenance, or any other activities that result in software products.</p>



                            <blockquote class="wp-block-quote">
                                <p>The need for better quality control of the software development process has given rise to
                                    the discipline of software engineering, which aims to apply the systematic approach
                                    exemplified in the engineering paradigm to the process of software development. The
                                    Software development core activities</p>

                                <cite>Tom Cruise</cite>
                            </blockquote>

                        </div>



                    </div>
                </div>






                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area text-center">
                        <section class="widget widget_events_details">
                            <h3 class="widget-title text-center"  style="color: #100562 font-weight:bold;">Other Services</h3>

                            <ul>
                                <li class="list-item">Software Development</li>
                                <li class="list-item">Website Development</li>
                                <li class="list-item">Mobile Application Development</li>
                                <li class="list-item">Digital Marketing</li>
                            </ul>
                        </section>




                        <div class="courses-sidebar-syllabus">
                            <h3 class="btn-danger radius-xl text-center">Quick Enquiry</h3>


                            <div class="courses-list">
                                <ul>
                                    <li class="text-center">
                                        <i class='bx bx-phone-call '></i>
                                        <a href="software#">9125545607</a>
                                    </li>
                                    <li class="text-center">
                                        <i class='bx bx-phone-call'></i>
                                        <a href="software#">9125525608</a>
                                    </li>

                                </ul>
                            </div>




                        </div>


                    </aside>
                </div>
            </div>
        </div>
    </section <section class="events-area pt-100 pb-70">
    <div class="container">
        <div class="events-details-header">

            <h2  style="color: #100562 font-weight:bold;"><span style="color: #ffe401; font-weight:bold;">Which Types</span> Of Softwares We Provide?</h2>
        </div>
        <div class="single-events-box mb-30">
            <div class="events-box">
                <div class="events-image" style="border: 1px solid #100562">
                    <div>
                        <img src="assets/img/Education.png" alt="image" style="width: 175px;">
                    </div>
                </div>

                <div class="events-content">
                    <div class="content" style="border: 1px solid #100562; height:150px;">
                        <h3 class="text-center"><a href="software#">School Management Software</a></h3>
                        <p class="text-center">It also provides a dedicated portal for teachers making it easier for them to
                            find all the information related to students and school activities.</p>

                    </div>
                </div>

                <div class="events-date">
                    <div class="date">
                      <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                    </div>
                </div>
            </div>

            <div class="single-events-box mb-30">
                <div class="events-box">
                    <div class="events-image" style="border: 1px solid #100562">
                        <div>
                            <img src="assets/img/hotel-1.png" alt="image" style="width: 125px;">
                        </div>
                    </div>

                    <div class="events-content">
                        <div class="content" style="border: 1px solid #100562; height:150px;">
                            <h3 class="text-center"><a href="software#">Hotel Management Software</a></h3>
                            <p class="text-center">A hotel management software designed to simplify hotel operations management via its integrated management suite.</p>

                        </div>
                    </div>

                    <div class="events-date">
                        <div class="date">
                            <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-events-box mb-30">
                <div class="events-box">
                    <div class="events-image" style="border: 1px solid #100562">
                        <div>
                            <img src="assets/img/library-1.png" alt="image" style="width: 125px;">
                        </div>
                    </div>

                    <div class="events-content">
                        <div class="content" style="border: 1px solid #100562; height:150px;">
                            <h3 class="text-center"><a href="software#">Library Management Software</a></h3>
                            <p class="text-center">Library management systems help libraries keep track of their documents inventory and loans, and member subscriptions and profiles, sometimes for multiple physical locations.</p>

                        </div>
                    </div>

                    <div class="events-date">
                        <div class="date">
                            <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-events-box mb-30">
                <div class="events-box">
                    <div class="events-image" style="border: 1px solid #100562">
                        <div>
                            <img src="assets/img/gym-3.png" alt="image" style="width: 125px;">
                        </div>
                    </div>

                    <div class="events-content">
                        <div class="content" style="border: 1px solid #100562; height:150px;">
                            <h3 class="text-center"><a href="software#">Gym Management Software</a></h3>
                            <p class="text-center">Gym scheduling software is also sometimes refer#100562 to as fitness software, studio software, scheduling software.</p>

                        </div>
                    </div>

                    <div class="events-date">
                        <div class="date">
                            <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>
    


    </main>
{% endblock content%}