{% extends "website/base.html" %}
{% load static %}
{% block content %}
        

    <main>
        <!-- Define main content section -->
        
<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="https://sipherweb.com/index.html">Home</a></li>
                <li><a href="https://sipherweb.com/courses-2-columns-style-1.html">Event Gallery</a></li>

            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
  <!-- Start Gallery Area -->
  <section class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/msg5734426738-10163.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-10163.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/msg5734426738-10158.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-10158.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/msg5734426738-10157.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-10157.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/msg5734426738-12303.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-12303.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/msg5734426738-12302.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-12302.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="https://sipherweb.com/Image/msg5734426738-12293.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-12293.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="https://sipherweb.com/Image/msg5734426738-12279.jpg" alt="Gallery Image" data-original="/Image/msg5734426738-12279.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6140934370442199246.jpg" alt="Gallery Image" data-original="/Image/6140934370442199246.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6140934370442199244.jpg" alt="Gallery Image" data-original="/Image/6140934370442199244.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6140934370442199234.jpg" alt="Gallery Image" data-original="/Image/6140934370442199234.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145295.jpg" alt="Gallery Image" data-original="/Image/6132125912209145295.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145293.jpg" alt="Gallery Image" data-original="/Image/6132125912209145293.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145290.jpg" alt="Gallery Image" data-original="/Image/6132125912209145290.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145288.jpg" alt="Gallery Image" data-original="/Image/6132125912209145288.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145283.jpg" alt="Gallery Image" data-original="/Image/6132125912209145283.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145281.jpg" alt="Gallery Image" data-original="/Image/6132125912209145281.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145279.jpg" alt="Gallery Image" data-original="/Image/6132125912209145279.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6132125912209145275.jpg" alt="Gallery Image" data-original="/Image/6132125912209145275.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395310.jpg" alt="Gallery Image" data-original="/Image/6210931385200395310.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395307.jpg" alt="Gallery Image" data-original="/Image/6210931385200395307.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395302.jpg" alt="Gallery Image" data-original="/Image/6210931385200395302.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395283.jpg" alt="Gallery Image" data-original="/Image/6210931385200395283.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395278.jpg" alt="Gallery Image" data-original="/Image/6210931385200395278.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395273.jpg" alt="Gallery Image" data-original="/Image/6210931385200395273.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395268.jpg" alt="Gallery Image" data-original="/Image/6210931385200395268.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395261.jpg" alt="Gallery Image" data-original="/Image/6210931385200395261.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395259.jpg" alt="Gallery Image" data-original="/Image/6210931385200395259.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395253.jpg" alt="Gallery Image" data-original="/Image/6210931385200395253.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395242.jpg" alt="Gallery Image" data-original="/Image/6210931385200395242.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395241.jpg" alt="Gallery Image" data-original="/Image/6210931385200395241.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395238.jpg" alt="Gallery Image" data-original="/Image/6210931385200395238.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395235.jpg" alt="Gallery Image" data-original="/Image/6210931385200395235.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395217.jpg" alt="Gallery Image" data-original="/Image/6210931385200395217.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395191.jpg" alt="Gallery Image" data-original="/Image/6210931385200395191.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395190.jpg" alt="Gallery Image" data-original="/Image/6210931385200395190.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395188.jpg" alt="Gallery Image" data-original="/Image/6210931385200395188.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395186.jpg" alt="Gallery Image" data-original="/Image/6210931385200395186.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">

                    <img src="Image/6210931385200395177.jpg" alt="Gallery Image" data-original="/Image/6210931385200395177.jpg" style="height:252px; width:336px">
                </div>
            </div>

            

        </div>
    </div>
</section>
<!-- End Gallery Area -->



    </main>
{% endblock content%}