{% extends "website/base.html" %}
{% load static %}
{% block content %}



    <main>
        <!-- Define main content section -->
            <!-- Start Page Title Area -->
    <div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}' style="height: 50px;">
        <div class="container">
            <div class="page-title-content" style="transform:translateY(-23px);">
                <ul style="text-align: center; margin-left:80px;">
                    <li><a href="https://sipherweb.com/index.html">Home</a></li>
                    <li style=" transform:translateX(-90px)"><a href="https://sipherweb.com/courses-2-columns-style-1.html">Web Developement</a></li>

                </ul>
                    <h2 style="text-align: center;">Web Designing Training In Lucknow</h2>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <section class="events-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="events-details-header">

                        <h2  style="color: #100562; font-weight:bold;"><span style="color: #FF9B00; font-weight:bold;">Web</span> Designing</h2>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="events-details">
                        <div class="events-details-image">
                            <img src="{static  'website/img/web.jpg' %}" alt="image">
                        </div>

                        <div class="events-details-desc">
                            <div class="events-details-header">

                                <h2 style="color: #100562; font-weight:bold;"><span style="color: #FF9B00; font-weight:bold;">What</span> Can We Do</h2>
                            </div>
                            <p>Web development is the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex web-based internet applications (web apps), electronic businesses, and social network services. A more comprehensive list of tasks to which web development commonly refers, may include web engineering, web design, web content development, client-side/server-side scripting, web server and network security configuration, and e-commerce development. Among web professionals, "web development" usually refers to the main non-design aspects of building web sites: writing markup and coding. Web development may use content management systems (CMS) to make content changes easier and available with basic technical skills.</p>

                            <p>Before we dive into design, we work closely with you to understand your goals, target audience, and unique selling points.</p>
                            <p>This strategic planning phase lays the foundation for a website that not only looks good but also serves its purpose effectively.</p>


                            <blockquote class="wp-block-quote">
                                <p>Web development is the coding or programming that enables website functionality, per the owner's requirements. It mainly deals with the non-design aspect of building websites, which includes coding and writing markup.</p>

                                <p>Web development ranges from creating plain text pages to complex web-based applications, social network applications and electronic business applications.</p>
                            </blockquote>

                        </div>



                    </div>
                </div>






                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area text-center">
                        <section class="widget widget_events_details">
                            <h3 class="widget-title text-center">Other Services</h3>

                            <ul>
                                <li class="list-item">Software Development</li>
                                <li class="list-item">Website Development</li>
                                <li class="list-item">Mobile Application Development</li>
                                <li class="list-item">Digital Marketing</li>
                            </ul>
                        </section>




                        <div class="courses-sidebar-syllabus">
                            <h3 class="btn-danger radius-xl text-center">Quick Enquiry</h3>


                            <div class="courses-list">
                                <ul>
                                    <li class="text-center">
                                        <i class='bx bx-phone-call '></i>
                                        <a href="website#">9125545607</a>
                                    </li>
                                    <li class="text-center">
                                        <i class='bx bx-phone-call'></i>
                                        <a href="website#">9125525608</a>
                                    </li>

                                </ul>
                            </div>




                        </div>


                    </aside>
                </div>
            </div>
        </div>
    </section>
     <section class="events-area pt-100 pb-70">
    <div class="container">
        <div class="events-details-header">

            <h2 style="color: #100562; font-weight:bold;"><span style="color: #FF9B00; font-weight:bold;">Features</span> That We Provide In Web Development</h2>
        </div>
        <div class="single-events-box mb-30">
            <div class="events-box">
                <div class="events-image" style="border: 1px solid #100562">
                    <div>
                        <img src="assets/img/responsive.jpg" alt="image" style="width: 175px;">
                    </div>
                </div>

                <div class="events-content">
                    <div class="content" style="border: 1px solid #100562; height:150px;">
                        <h3 class="text-center"><a href="website#">Full responsive website</a></h3>
                        <p class="text-center">Responsive Web Design is about using HTML and CSS to automatically resize, hide, shrink, a website, to make it look good on all devices (desktops, tablets, and phones).</p>

                    </div>
                </div>

                <div class="events-date">
                    <div class="date">
                      <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                    </div>
                </div>
            </div>

            <div class="single-events-box mb-30">
                <div class="events-box">
                    <div class="events-image" style="border: 1px solid #100562">
                        <div>
                            <img src="assets/img/search-engine-optimization&#32;(1).png" alt="image" style="width: 125px;">
                        </div>
                    </div>

                    <div class="events-content">
                        <div class="content" style="border: 1px solid #100562; height:150px;">
                            <h3 class="text-center"><a href="website#">Search engine optimized</a></h3>
                            <p class="text-center">Search engine optimization is the process of growing the quality and quantity of website traffic by increasing the visibility of a website or a web page to users of a web search engine.</p>

                        </div>
                    </div>

                    <div class="events-date">
                        <div class="date">
                             <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-events-box mb-30">
                <div class="events-box">
                    <div class="events-image" style="border: 1px solid #100562">
                        <div>
                            <img src="assets/img/loading.png" alt="image" style="width: 145px;">
                        </div>
                    </div>

                    <div class="events-content">
                        <div class="content" style="border: 1px solid #100562; height:150px;">
                            <h3 class="text-center"><a href="website#">Quick loading times</a></h3>
                            <p class="text-center">Our website loading time is very less. we aim for under a half-second.” Fast matters, especially when it comes to customer service.</p>

                        </div>
                    </div>

                    <div class="events-date">
                        <div class="date">
                          <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-events-box mb-30">
                <div class="events-box">
                    <div class="events-image" style="border: 1px solid #100562">
                        <div>
                            <img src="assets/img/contact.png" alt="image" style="width: 145px;">
                        </div>
                    </div>

                    <div class="events-content">
                        <div class="content" style="border: 1px solid #100562; height:150px;">
                            <h3 class="text-center"><a href="website#">Mobile Friendliness</a></h3>
                            <p class="text-center">A mobile friendly website is essentially when your regular website shrinks down to be small enough to display on a mobile device. It looks like a tiny version of your website. but the site displays and functions</p>

                        </div>
                    </div>

                    <div class="events-date">
                        <div class="date">
                             <a href="contactus"><button class="btn btn-primary text-center" style="margin-top: 35px;">Contact Me</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>
    


    </main>
{% endblock content %}